name: CI/CD test

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    check_backend:
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: backend

      steps:
        - name: Checkout
          uses: actions/checkout@v5

        - name: Install NodeJS
          uses: actions/setup-node@v6
          with:
            node-version: 24

        - name: Install backend deps
          run: npm ci

        - name: Audit
          run: npm run audit:ci

        - name: Lint
          run: npm run lint

        - name: Test CI
          run: npm run test:ci

    check_frontend:
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: frontend
      steps:
        - name: Checkout
          uses: actions/checkout@v5

        - name: Install NodeJS
          uses: actions/setup-node@v6
          with:
            node-version: 22

        - name: Install frontend deps
          run: npm ci

        - name: Audit
          run: npm run audit:ci

        - name: Lint          
          run: npm run lint      

    test_e2e:    
      needs: [check_backend,check_frontend]
      runs-on: ubuntu-latest
      strategy:
        matrix:
          browser: [firefox, chrome, edge]     

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Install NodeJS
          uses: actions/setup-node@v6
          with:
            node-version: 24

        - name: Install backend deps
          working-directory: backend
          run: npm ci

        - name: Install frontend deps
          working-directory: frontend
          run: npm ci

        - name: Start backend API
          working-directory: backend
          run: |
            npm run start:e2e &
            echo "Waiting for backend on http://localhost:3000/health ..."
            for i in {1..10}; do
              if curl -sSf http://localhost:3000/health > /dev/null; then
                echo "Backend is up !"
                exit 0
              fi
              echo "Still waiting..."
              sleep 2
            done
            echo "Backend did not start in time !"
            exit 1

        - name: Run Cypress E2E tests
          uses: cypress-io/github-action@v6
          with:
            working-directory: frontend
            build: npm run build:test
            start: npm run preview:test
            wait-on: "http://localhost:4173"
            browser: ${{ matrix.browser }}
            wait-on-timeout: 60
            config: baseUrl=http://localhost:4173

    build_frontend:
      needs: test_e2e
      runs-on: ubuntu-latest

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Install NodeJS
          uses: actions/setup-node@v6
          with:
            node-version: 24

        - name: Install frontend deps
          working-directory: frontend
          run: npm ci

        - name: Install cross-env
          working-directory: frontend
          run: npm install --no-save cross-env

        - name: Build frontend
          working-directory: frontend
          run: npm run build:only

        - name: Create artifact
          uses: actions/upload-artifact@v4
          with:
            name: frontend-build
            path: frontend/dist

    deploy:
      needs: build_frontend
      runs-on: ubuntu-latest

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        # 1) Télécharger l'artifact créé dans le build
        - name: Download build artifact
          uses: actions/download-artifact@v4
          with:
            name: frontend-build
            path: frontend/dist

        # 2) Setup VPN via action locale
        - name: VPN setup
          uses: ./.github/actions/vpn
          with:
            host: vpn-labetml.protocloud.ch
            port: 443
            username: etml-student
            password: ${{ secrets.VPN_PASSWORD }}
            ping_host: ${{ secrets.TEST_HOST_IP }}

        # 3) Envoyer les fichiers vers le serveur de test via SCP
        - name: SCP upload to test server
          run: |
            scp -o StrictHostKeyChecking=no -r frontend/dist/* admin@172.26.1.21:/var/www/your_app/

        # 4) Redémarrer le service sur le serveur de test
        - name: SSH restart service on test server
          run: |
            ssh -o StrictHostKeyChecking=no admin@172.26.1.21 "pm2 restart all || systemctl restart yourservice"
